<html>

<head th:fragment="head(title)">
	<title th:text="${title}"></title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<nav th:fragment="nav">
		<ul>
		<li><a th:href="@{/}">Liste des Films</a></li>
		<li><a sec:authorize="hasRole('admin')" th:href="@{/admin/ajoutFilm}">Creer Film</a></li>
		<li><a sec:authorize="hasRole('admin')" th:href="@{/admin/participants}">Gestion Participants</a></li>
		<li><a sec:authorize="hasRole('admin')" th:href="@{/admin/genres}">Gestion Genres</a></li>
		<li><a sec:authorize="hasRole('admin')" th:href="@{/admin/membres}">Gestion Membres</a></li>

		<!-- sec:authorize="isAuthenticated()": on n'affiche ce lien que si l'utilisateur est connecté -->
		<li><a sec:authorize="isAuthenticated()"
			th:href="@{/prive/pageConnecte}"> Page pour utilisateurs
				connectés</a></li>

		<!-- sec:authorize="hasRole('admin') : on n'affiche ce lien que si l'utilisateur connecté a le rôle 'admin' -->
		<li><a sec:authorize="hasRole('admin')"
			th:href="@{/admin/pageAdmin}">Page ADMIN</a></li>
		</ul>

		<!-- on n'affiche cette section que pour les utilisateurs connectés -->
		<section sec:authorize="isAuthenticated()">
			<!-- ${#authentication.name}" : recupère le username de l'utilisateur connecté-->
			<span
				th:text="|Vous êtes connecté avec l'utilisateur : ${#authentication.name}|"></span>

			<!-- on offre la possibilité de se déconnecter -->
			<form th:action="@{/logout}" method="post">
				<button>Se deconnecter</button>
			</form>
		</section>

		<!-- on n'affiche cette section que pour les utilisateurs NON connectés -->
		<section sec:authorize="!isAuthenticated()">
			<span>Vous n'êtes pas connecté :</span>
			<!-- on offre la possibilité de se connecter -->
			<a th:href="@{/login}">Se connecter</a>
		</section>
	</nav>
	
	<section th:fragment="messages">
		<p class="confirmation" th:text="${confirmation}"></p>
		<p class="error" th:text="${erreur}"></p>
	</section>
</body>

</html>